*{
  box-sizing: border-box;
}
#title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.list{
  /* padding-inline-start: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 10px;
}

img {
  height: 400px;
  width: 300px;
}